body {
  font-family: Helvetica;
}
.app {
  display: flex ;
}

.channels-list {
  height: 100vh;
  background-color: blue;
  width: 30%;
}

.selected-channel {
  height: 100vh;
  background-color: red;
  width: 70%;
}

.selected-channel h1{
  // height: 10%;
}

.messages-list {
  margin: 5px;
  background-color: yellow;
  width: auto;
  overflow: scroll;
  height: 85%;
}

.message-form {
  margin: 20px 10px 0;

}

.message-form input {
  width: 80%;
}
.message-form button {
  width: 20%;
}
