body {
  font-family: Helvetica;
  color: #FCFCFC;
}
.app {
  display: flex ;
}

.channels-list {
  height: 100vh;
  background-color: #5D737E;
  width: 30%;
  color: #FCFCFC;
}

.channels-list ul{
  list-style: none;
}

.selected-channel {
  height: 100vh;
  background-color: #02111B;
  width: 70%;
}

.messages-list {
  margin: 5px;
  background-color: #30292F;
  width: auto;
  overflow: scroll;
  height: 85%;
}

.message-form {
  margin: 20px 10px 0;

}

.message-form input {
  width: 80%;
  color: #30292F;
}
.message-form button {
  width: 20%;
  background-color: #4D8B31;
}

.selected-channel-list {
  font-weight: 700;
}
